<div class="display-block">
  <% if cart_products.present? %>
    <% cart_products.each do |product| %>
      <div class="display-flex">
        <%= image_tag product.image, width: 70, height: 70 %>
        <span><%= product.image %></span>
      </div>
    <% end %>
  <% else %>
    <span>Empty</span>
  <% end %>
</div>