<%= render 'layouts/nav' %>

<h2>Products</h2>

<hr>

<div>
  <% @products.each do |product| %>
    <%= link_to product_path(product.id) do %>
      <%= image_tag product.image, width: 144, height: 144 %>
    <% end %>
  <% end %>
</div>
