<%= render 'layouts/nav' %>

<h2>Products</h2>

<hr>

<div>
  <% @images.each do |id| %>
    <%= link_to product_path(id) do %>
      <%= image_tag Product.image(id), width: 144, height: 144 %>
    <% end %>
  <% end %>
</div>
