  <div id="cart" style="display: none;">
    <h3>Your cart</h3>

    <hr>

    <!-- Example cart item, uncomment to view -->
    <%# <%= render partial: 'cart_item', locals: { image: Product.image(1) } %1> %>
    
  </div>
